// Global Config
$primary-color: #333645;
$body-color: #666;
$bg-color:#ddd;

$software-color: #67809f;
$support-color: #4183d7;
$marketing-color: #2ecc71;
$services-color: #d64541;
$design-color: #926fb1;
$security-color: #f62459;
$training-color: #ce4125;


$white: #ffffff;
