// Global Config
$primary-color: #333645;
$body-color: #666;
$bg-color:#ddd;

$software-color: #67809f;
$support-color: #4183d7;
$marketing-color: #2ecc71;
$services-color: #d64541;
$design-color: #926fb1;
$security-color: #f62459;
$training-color: #ce4125;

$software-bg-color: #526781;
$support-bg-color: #286abd;
$marketing-bg-color: #25a25a;
$services-bg-color: #bc2c28;
$design-bg-color: #79539a;
$security-bg-color: #de093f;
$course-bg-color: #a3331d;


$facebook-color: #3b5998;
$twitter-color: #00aced;
$instagram-color: #d93175;
$linkedin-color: #0077b5;

$white: #ffffff;


$breakpoints:(
    "xxl": 1400px,
    "xl": 1260px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px,
    "xs": 0px,
);

$navWidths:(
    "xxl": 1170,
    "xl": 1170,
    "lg":940,
    "md": 696,
    "sm": 516
);

