.grid{
    overflow:hidden;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

main{
    position:relative;
    transition: 0.5s;
    height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: #fff;
}

.sidebar{
    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    overflow-y: scroll;
    z-index: -1;
}

@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1260px){
    .container {
        max-width: 1260px;
    }
}


