.container{
    display: grid;
    max-width: 1200px;
    margin: auto;
}

//Header Grid
header.container{
    grid-template-columns: 1fr;
    grid-template-rows: 110px, 100px;    
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.topbar-links{
    display:flex;
    align-items: center;
}

