.container{
    display: grid;
    width: 100vw;
    margin: auto;
}

//Header Grid
.header{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;    
}

.topbar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    max-width:1200px;
    margin:auto;
}

.topbar-links{
    display:flex;
    align-items: center;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin:auto;
    background-color: #333645;
}

