* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    color: $body-color;
}

a {
    color: #4183d7;
    text-decoration: none;
}

p {
    margin-bottom: 1.25em;
}


//HEADER
header {
    background-color: #fff;
}

.site-logo{
    display:block;
    width: 100%;
    height: 72px;
    background:url("../images/logo.png") no-repeat center / contain;
}

.srt {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);    
    overflow: hidden;     
}



.btn{
    height: auto;
    padding: 14px 16px;
    text-transform: uppercase;
    font-size: 1.125rem;
    border:0;
    border-radius: 3px;    
    align-items: center;
    color: $white;
    background-color: #999aa2;
}

.btn i{
    font-size: 1.25rem;
    margin-right: 5px;
}

.btn-i-last{
    margin:0 0 0 15px !important;
}


.btn-prim{ //primary
    background-color: $primary-color;
    color: $white;    
    &:hover{
        background-color: #22242e;
        color: $white;
    }
}

.btn-prim-inv{ //primary inverted
    background-color: $white;
    color: $primary-color;    
    &:hover{
        background-color:$white;
        color: $primary-color;
    }
}

.btn-sec{ //secondary
    background-color: #4183d7;
    color: $white;
    &:hover{
        background-color: #2a6ec6;
        color: $white;
    }
}
.btn-def{  //default
    background-color: #999aa2;
    color: $white;
    &:hover{
        background-color: #84858f;
        color: $white;
    }
}

.btn-software{
    background-color: $software-color;
    color: $white;
    &:hover{
        background-color: #566c88;
        color: $white;
    }
}

.btn-marketing{
    background-color: $marketing-color;
    color: $white;
    &:hover{
        background-color: #25a25a;
        color: $white;
    }
}

.btn-services{
    background-color: $services-color;
    color: $white;
    &:hover{
        background-color: #bc2c28;
        color: $white;
    }
}

.btn-design{
    background-color: $design-color;
    color: $white;
    &:hover{
        background-color: #79539a;
        color: $white;
    }
}

.btn-security{
    background-color: $security-color;
    color: $white;
    &:hover{
        background-color: #de093f;
        color: $white;
    }
}

.btn-training{
    background-color: $training-color;
    color: $white;
    &:hover{
        background-color: $training-color;
        color: $white;
    }
}

.btn-trust{
    background-color: #00b67b;
    color: $white;
    &:hover{
        background-color: #009b69;
        color: $white;
    }
}

.btn-welcome{
    background-color: #272936;    
    color: $white;
    &:hover{
        background-color: #121318;
        color: $white;
    }
}

.btn-subscribe{
    background-color: #333645;
    color: $white;
    &:hover{
        background-color: #121318;
        color: $white;
    }
}
 
.btn-google{ 
    background-color: #4387f6;
    color: $white;
    &:hover{
        background-color: #166af4;
        color: $white;
    }
}

.btn-disabled{ 
    background-color: $white;
    color: #aaa;
    border: 1px solid #f0f0f0;

    &:hover{
        background-color: $white;
        color: #aaa;
    }
}

.btn-toggle .hamburger, .btn-toggle .hamburger::before, .btn-toggle .hamburger::after {
    width: 30px;
    height: 4px;
    background-color: $white;
    border-radius: 1px;
    position: absolute;
}

.btn-toggle .hamburger {
    &::before, &::after{
        content: "";
        display: block;
    }

    &::before{
        top: -10px;
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s;
        
    }

    &::after{
        top: 10px;
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s;
    }
}

.btn-toggle.active .hamburger{
    height:auto;

    &::before{
        top:-1px;    
        transform: rotate(315deg);
    }
    &::after{
        top:-1px;
        transform: rotate(225deg);
    }
}



.input-field{
    height: 47px;
    padding: 5px 15px;

    background-color: $white;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

    font-size: 14px;
    line-height: 1.42857143;

    color: #555;
    &:focus{
        border-color: #5bc0de;
        outline: 0;
    }
}

.no-scroll{
    overflow-y: hidden !important;
}
