.about{
    background-color: $primary-color;
    color: $white;
}

.inner{
    margin: 40px 0;
}

.inner h2{
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.client-testimonial{
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
}

.client-name{
    font-weight: 600;
    color: #a3a8ac;
    font-size: 1.1rem;
}

.five-star{
    color: orange;
    margin-bottom: 25px;
    font-size: 46px;
}

.five-star i {
    margin-right: -10px;
}

.about .btn{
    margin: 0 15px 15px 0;
}