.about{
    background-color: $primary-color;
    color: $white;
}

.inner{
    margin: 40px 0;
}

.inner h2{
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.client-quote{
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
}