@use "sass:map";

.breadcrumbs{
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
    padding: 14px 0 13px;
    border-top: 1px solid #333645;
    display: none;

    & ul{
        background: none;
        color: #333645;
        font-size: .8125rem;
        margin: 0;
        padding: 0;
        & > li{
            display:inline-block;

            & + li:before{
                content: "/\A0";
                padding: 0 5px;
                color: #333645;
            }

            & a {
                color: #333645;
                font-weight:bold;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}

.page-head{
    background-color: #333645;
    margin-bottom: 50px;
    padding: 24px 0;    
    & h1{
        font-size: 2.2rem;
        margin:0;
        color: #fff;
    }
}

.offices{
    overflow-x:hidden;
    & .container{
        margin-bottom: 50px;
    }

    & .heading{
        display:none;
    }
    & h3{
        font-weight:normal;
    }
    & .card{
        cursor: default;
        border-radius: 0 0 1rem 1rem;

        & img{
            width:100%;
    
        }

        & a > h4{
            font-size:1.2rem;
            font-weight:normal;
            color: #333645;
            margin-bottom:15px;

            &:hover{
                text-decoration: underline;
                color: #333645
            }
        }

        & .btn-sm{
            padding: 12px 30px;
            font-size: 0.9rem;
        }
    }
}

.contact-info{
    margin-bottom: 50px;
    & > p{
        font-weight:bold;
        color: #333645;
    }

    & > p > .accordion-trigger{
        display: flex;
        align-items: center;
        color: #333645;

        & > span{
            margin-right:10px;

            &:hover{
                text-decoration: underline;
            }

            & + span:hover{
                text-decoration:none;
            }
        }
    }

    & .accordion-item{        
        color: #333645;
        border: none;
        margin-bottom: 2rem;
        display:none;
    }
}

.contact-form{
    color: #333645;
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;
    margin-bottom:50px;
    
    & .form-group{
        margin-bottom: 15px;
    }

    & label, input{
        width:100%;
    }

    & label{
        font-weight:bold;
        height: 1.8rem;
        display: inline-block;

        &.required:after{
            content:"*";
            color: #ff0000;
            font-size:1.2rem;
            font-weight:normal;
            margin-left:8px;
        }
    }

    & .message{
        width: 100%;
        height:100px;
    }

    .form-group:focus{
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
    }

    .element2 , .description2{
        display: table-cell;
        vertical-align:top;
    }
    
    .description2 a{
        color:#333645;
        &:hover{
            text-decoration:underline;
        }        
    }
    .opt-in2 + label {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 3px solid #333645;
        border-radius: 3px;
        cursor: pointer;
        margin-right:20px;
    }
    
    .opt-in2:checked {
        & + label {
            background-color: $primary-color;  
        }  
        & + label:after {
            position: relative;
            top: -5px;
            left: 4px;
            content: '\2714';
            font-size: 1.5rem;
            color: $white;
        }
    }
    
    .opt-in2 {
        display: none;
    }
    
    .description2{
        font-weight:bold;
    
        & label{
            cursor: pointer;
        }
    }

    .btn-regular{
        font-size: 1.05rem;
        padding: 10px 18px;
    }

    .error{
        border-color: #d64541;
    }

    .alert-success{
        color: #fff;
        background: #2ecc71;
    }

    .error-message{
        color:#d64541;
        font-size:1rem;
    }
}

.body-link{
    font-size: 1.5rem;
    font-weight: bold;
    color: $design-color;
    display: block;
    margin-bottom:15px;

    &:hover{
        text-decoration:underline;
        color: $design-color;
    }
}


@media(min-width:map.get($breakpoints,"md")){
    .breadcrumbs{
        display:block;
    }
}

@media(min-width:map.get($breakpoints,"lg")){
    .page-head{
        display:none;
    }

    .offices .heading{
        display:block;
    }
}

@media(min-width:1200px){
 
}

@media(min-width:map.get($breakpoints,"xl")){
  
}