@use "sass:map";

header.sticky{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    transition: all 300ms ease-in-out;
}

header.sticky + .banner{
    margin-top:169px;
}

@media (min-width: map.get($breakpoints, "xs")) {
    header.sticky + .banner{
        margin-top:169px;
    }
}

@media (min-width: map.get($breakpoints, "md")) {
    header.sticky + .banner{
        margin-top:102px;
    }
}
@media (min-width: map.get($breakpoints, "lg")) {
    header.sticky + .banner{
        margin-top:213px;
    }
}