.newsletter{
    background-color: $bg-color;
    color: $primary-color;
    & h2{
        margin-bottom: 15px;
    }
}


.input-fields{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    & .form-group{
        flex: 1 450px;
        padding: 0 15px;
        margin-bottom: 15px;
    }

    & label, input{
        width:100%;
    }

    & label{
        font-weight:bold;
        &.required:after{
            content:"*";
            color: #ff0000;
            font-size:1.2rem;
            font-weight:normal;
            margin-left:8px;
        }
    }
    
}

.checkbox-field{
    margin-bottom:30px;
}

.element , .description{
    display: table-cell;
    vertical-align:top;
}

.opt-in{
    width:2rem;
    height:2rem;
    margin-right:20px;
}

.description{
    font-weight:bold;
}








